/* Tambahkan box-sizing untuk kontrol layout */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: grey;
    font-family: Arial, sans-serif; /* Tambahkan font default */
}

.container {
    width: 100%; /* Pastikan container mengisi penuh */
    height: 100vh;
    background-color: grey;
}

.profil {
    display: flex;
    justify-content: center;
    height: 30vh;
    transform: translate(0px, 60px);
}


.name {
    font-size: 7vh;
    margin: 3px;
    color: rgb(100, 183, 255);
    font-family: 'Vampiro One', cursive;
    text-align: center;
}

.Content {
    display: flex;
    justify-content: center;
    margin-top: -40px;
}

.CS_i { /* Gunakan nama kelas kecil */
    border: 1px solid black;
    margin-inline-start: 10px;
    border-radius: 50%;
    width: 15vh;
    height: 15vh;
}

@media screen and (max-width: 850px) {
    .profil {
        transform: translateY(180px);
    }
    .name {
        font-size: 4vh;
        margin-top: 20vh;
    }

    .content {
        margin-top: 80px;
    }
    
    .cs_i {
        width: 10vh;
        height: 10vh;
    }
}
